#container {
  text-align: center;
  margin: 5px auto;
}

h1, h3 {
  margin: 0;
}

p {
  margin: 0;
  font-size: 14px;
}


#mycanvas {
  border: 10px solid #999;
  cursor: crosshair;
}

.thumbnail {
  border: 2px solid #999;
  margin-right: 5px;
}