@@charset "UTF-8";

body {
  color: red; 継承される
  font-family:
  /* border: 1px solid pink; 継承されない */
}

header {
  height: 160px;
  /* background-color: orange;
  background-image: url(../img/header.png);
  background-size: cover;
  background-position: center; */
  background: center/cover orange url(../img/header.png);
}

body > h1 {
  /* border: inherit; 継承されるようにする */
  color: red;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  text-decoration: line-through;
}

body > p {
  background: pink;
  font-weight: bold;
  text-align: right;
  text-decoration: underline;
  font-size: 16px;
  /* line-height: 32px;
  line-height: 2em; 2文字分*/
  line-height: 3; /*文字の2倍の幅。子要素では再計算される*/
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

ul {
  /* list-style-type: circle;
  list-style-position: inside;
  list-style-image: url(../img/icon.png); */
  list-style: circle inside url(../img/icon.png);
}

#n12 ol {
  list-style-type: lower-alpha;
  /* list-style: inside; */
}

#open {
  font-weight: bold;
}

.title {
  text-align: center;
}

h2.title {
  font-weight: normal;
}

.box1 {
  background-color: orange;
  width: 200px;
  height: 200px;
  border-left: 2px solid red;
  border-right: 2px solid red;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.box2 {
  background-color: skyblue;
  width: 50%;
  height: 50%;
  overflow: scroll;
  /* border-width: 2px;
  border-style: solid;
  border-color: blue; */
  border: 2px solid blue;
  border-bottom: none;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 20px;
}

.box3 {
  background-color: tomato;
  margin-top: 10px;
}
.box4 {
  display: inline;
  width: 20px;
}
.box5 {
  display: none;
}
.box6 {
  display: inline-block;
  width: 20px;
}

.box7 {
  background-color: green;
  position: relative;
  top: 30px;
  left: 30px;
}

.box8 {
  background-color: pink;
  position: fixed;
  top: 50px;
  left: 350px;
}

.box9 {
  position: absolute;
  top: 30px;
  left: 30px;
}

.box10 {
  position: absolute;
  top: 230px;
  left: 230px;
  z-index: -1
}

.mini {
  background-color: red;
  font-size: 10px;
  width: 30px;
  height: 30px;
}

.box11 {
  background-color: green;
  box-sizing: border-box;
  border: 5px solid blue;
  box-shadow: 10px 5px rgba(0, 0, 0, 0.5);
  text-shadow: 10px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.box12 {
  background-color: green;
  box-shadow: 10px 5px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 10px 5px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.box13 {
  background-color: green;
  box-shadow: 10px 5px 3px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.box {
  width: 100px;
  height: 100px;
}

.sec {
  border: 1px solid silver;
  padding: 10px;
  margin-bottom: 10px;
}

.main > h4 {
  border-left: 5px solid skyblue;
}

.main h4 {
  border-right: 5px solid skyblue;
}

.main, h4 {
  border-top: 5px solid skyblue;
}

h3 + h3 {
  border-top: 1px dashed silver;
  padding-top: 10px;
}

a[href="#"] {
  font-weight: bold;
}
a[href^="https"] {
  font-size: 30px;
}
a[href$="com"] {
  font-style: italic;
}
a[href*="set"] {
  font-size: 10px;
}

/*
疑似クラス：要素の状態に基づいてスタイリング
疑似要素　：要素の特定の部分をスタイリング
 */

 .dummy > h2::before {
   content: '- ';
 }

.dummy > h2::after {
   content: attr(data-subtitle);
 }

 #open {
   width: 100px;
   background-color: skyblue;
   text-align: center;
   padding: 4px 8px;
 }

 #open:hover {
   opacity: 0.8;
   cursor: pointer;
 }

 #n33 li:nth-child(odd) {
   background-color: skyblue;
 }
 #n33 li:nth-child(even) {
   background-color: green;
 }

 #n33 li:nth-child(2) {
   background-color: pink;
 }

 #n33 li:nth-child(3n) {
   background-color: red;
 }

 #n33 li:first-child {
   background-color: gold;
 }

 #n33 li:last-child {
   background-color: silver;
 }

 #n33 li:not(:last-child) {
   border-bottom: 1px dashed black;
 }

 #n34 p:nth-child(3) {
   background-color: silver;
 }

 #n34 p:nth-child(4) {
   background-color: gold;
 }

 #n34 h2:first-of-type {
   background-color: pink;
 }

 #n34 h3:last-of-type {
   background-color: red;
 }

#n35 h1{
  color: red;
}
#n35 h1#main.input{
  color: yellow;
}
#n35 section > #main.title {
  color: blue;
}
#n35 section#about > h1{
  color: pink;
}

#n37 h2 {
  border: 1px solid silver;
}

#n37 h3 {
  border: 1px solid silver;
  clear: right;
}

#n37 p {
  border: 1px solid silver;
}

#n37 img {
  float: right;
}
